<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>WIKI</title>
</head>

<body>
  <a href="/blog" class="main-title">
      WIKI
  </a>

  <div class="login-area">
    {% if user %}
      <a class='login-link' href='_edit{{postid}}'>edit</a>
      |
      {{user.username}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

